In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Car_sales.csv')

In [3]:
df.head()

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Acura,Integra,16.919,16.36,Passenger,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2-Feb-14
1,Acura,TL,39.384,19.875,Passenger,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6-Mar-15
2,Acura,CL,14.114,18.225,Passenger,.,3.2,225,106.9,70.6,192,3.47,17.2,26,1-Apr-14
3,Acura,RL,8.588,29.725,Passenger,42,3.5,210,114.6,71.4,196.6,3.85,18,22,3-Oct-15
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178,2.998,16.4,27,10-Aug-15

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
columns_to_clean = [
    '4-year resale value', 'Price in thousands', 'Engine size', 'Horsepower',
    'Wheelbase', 'Width', 'Length', 'Curb weight', 'Fuel capacity', 'Fuel efficiency'
]

In [6]:
columns_to_clean = [
    '4-year resale value', 'Price in thousands', 'Engine size', 'Horsepower',
    'Wheelbase', 'Width', 'Length', 'Curb weight', 'Fuel capacity', 'Fuel efficiency'
]

In [7]:
# Step 2: Replace invalid values (e.g., '.' or empty strings) with NaN
df[columns_to_clean] = df[columns_to_clean].replace(['.', ''], np.nan)

NameError: name 'np' is not defined

In [ ]:
columns_to_clean = [
    '4-year resale value', 'Price in thousands', 'Engine size', 'Horsepower',
    'Wheelbase', 'Width', 'Length', 'Curb weight', 'Fuel capacity', 'Fuel efficiency'
]

In [ ]:
# Step 2: Replace invalid values (e.g., '.' or empty strings) with NaN
df[columns_to_clean] = df[columns_to_clean].replace(['.', ''], np.nan)

In [ ]:
df_filled = df.fillna(df.mean(numeric_only=True))

In [ ]:
df_cleaned = df.dropna()

# Option 2: Fill missing values with mean or median (for numeric columns)
df_filled = df.fillna(df.mean(numeric_only=True))

# You can choose either df_cleaned or df_filled depending on your strategy

# Display cleaned data
print("Cleaned Data (with NaN values handled):")
display(df_cleaned.head())

# Save the cleaned dataset (optional)
df_cleaned.to_csv('cleaned_car_sales.csv', index=False)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(10,6))
sns.histplot(df['Price in thousands'], kde=True, bins=20)
plt.title('Distribution of Car Prices')
plt.xlabel('Price in thousands')
plt.ylabel('Frequency')
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
sns.scatterplot(x='Horsepower', y='Price in thousands', data=df)
plt.title('Horsepower vs. Price')
plt.xlabel('Horsepower')
plt.ylabel('Price in thousands')
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
sns.boxplot(x='Vehicle type', y='Price in thousands', data=df)
plt.title('Price Distribution by Vehicle Type')
plt.xlabel('Vehicle Type')
plt.ylabel('Price in thousands')
plt.show()

In [ ]:
plt.figure(figsize=(12,8))
correlation_matrix = df.corr(numeric_only=True)
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
plt.title('Correlation Matrix')
plt.show()

In [ ]:
df['Latest Launch'] = pd.to_datetime(df['Latest Launch'])
df.sort_values(by='Latest Launch', inplace=True)

plt.figure(figsize=(10,6))
sns.lineplot(x='Latest Launch', y='Sales in thousands', data=df)
plt.title('Sales Trend Over Time')
plt.xlabel('Launch Date')
plt.ylabel('Sales in thousands')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# 6. Pairplot: Relationships Between Multiple Numeric Variables
plt.figure(figsize=(10,6))
sns.pairplot(df[['Price in thousands', 'Horsepower', 'Engine size', 'Sales in thousands']])
plt.suptitle('Pairplot of Numeric Variables', y=1.02)
plt.show()

In [ ]:
# Set the aesthetic style of the plots
sns.set(style="whitegrid")

In [ ]:
# 1. Bar Plot: Count of Vehicle Types for Each Manufacturer
plt.figure(figsize=(12,8))
sns.countplot(data=df, x='Manufacturer', hue='Vehicle type')
plt.title('Vehicle Type Comparison by Manufacturer')
plt.xlabel('Manufacturer')
plt.ylabel('Count of Vehicle Types')
plt.xticks(rotation=45)
plt.legend(title='Vehicle Type')
plt.show()

In [ ]:
# 2. Bar Plot: Number of Models for Each Manufacturer
plt.figure(figsize=(12,8))
# Group by Manufacturer and count the number of unique models
model_count_by_manufacturer = df.groupby('Manufacturer')['Model'].nunique().reset_index()
model_count_by_manufacturer.columns = ['Manufacturer', 'Number of Models']

In [ ]:
sns.barplot(data=model_count_by_manufacturer, x='Manufacturer', y='Number of Models', palette='viridis')
plt.title('Number of Models by Manufacturer')
plt.xlabel('Manufacturer')
plt.ylabel('Number of Models')
plt.xticks(rotation=45)
plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the cleaned dataset
file_path = 'cleaned_car_sales.csv'  # Update with your file path
df = pd.read_csv(file_path)

# Group by Manufacturer and sum up the sales
sales_by_manufacturer = df.groupby('Manufacturer')['Sales in thousands'].sum().reset_index()

# Sort by sales in descending order to find the highest
sales_by_manufacturer = sales_by_manufacturer.sort_values(by='Sales in thousands', ascending=False)

# Display the top brands by sales
print(sales_by_manufacturer.head())

# Bar Plot: Total Sales by Manufacturer
plt.figure(figsize=(12,8))
sns.barplot(data=sales_by_manufacturer, x='Manufacturer', y='Sales in thousands', palette='coolwarm')
plt.title('Total Sales by Manufacturer')
plt.xlabel('Manufacturer')
plt.ylabel('Total Sales (in thousands)')
plt.xticks(rotation=45)
plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the cleaned dataset
file_path = 'cleaned_car_sales.csv'  # Update with your file path
df = pd.read_csv(file_path)

# Ensure the 'Latest Launch' column is in datetime format
df['Latest Launch'] = pd.to_datetime(df['Latest Launch'], errors='coerce')

# Step 1: Extract the year from the 'Latest Launch' column
df['Launch Year'] = df['Latest Launch'].dt.year

# Step 2: Group the data by year and sum the sales
sales_by_year = df.groupby('Launch Year')['Sales in thousands'].sum().reset_index()

# Step 3: Sort by year (ascending) to calculate year-over-year changes
sales_by_year = sales_by_year.sort_values(by='Launch Year')

# Optional: Calculate the year-over-year sales growth
sales_by_year['YoY Sales Growth (%)'] = sales_by_year['Sales in thousands'].pct_change() * 100

# Display the year-wise sales and growth
print(sales_by_year)

# Step 4: Visualize the year-wise sales trend
plt.figure(figsize=(10,6))
sns.lineplot(data=sales_by_year, x='Launch Year', y='Sales in thousands', marker='o', color='b')
plt.title('Year-wise Total Sales Trend')
plt.xlabel('Year')
plt.ylabel('Sales in thousands')
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

# Step 5: Visualize year-over-year sales growth (optional)
plt.figure(figsize=(10,6))
sns.barplot(data=sales_by_year, x='Launch Year', y='YoY Sales Growth (%)', palette='coolwarm')
plt.title('Year-over-Year Sales Growth (%)')
plt.xlabel('Year')
plt.ylabel('YoY Sales Growth (%)')
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

In [ ]:
df.to_csv("cleaned_Car_sales.csv", index = True)

In [12]:
# Display basic information about the dataset
print("Dataset Information:")
Car_sales.csv()

Dataset Information:

NameError: name 'Car_sales' is not defined

In [11]:
# Step 1: Replace '.' with NaN in the relevant columns
cols_to_clean = ['Price in thousands', 'Engine size', 'Horsepower', 'Wheelbase', 'Width', 
                 'Length', 'Curb weight', 'Fuel capacity', 'Fuel efficiency']

car_sales_data[cols_to_clean] = car_sales_data[cols_to_clean].replace('.', np.nan)

NameError: name 'car_sales_data' is not defined