In [1]:
# Creating a set
my_set = {1, 2, 3, 4, 5}
print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

In [3]:
#Basic set operation
#add element
my_set.add(9)
print(my_set)

{1, 2, 3, 4, 5, 9}

In [3]:
#delect element
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

In [4]:
# Discarding  element
my_set.discard(10)  # Safe way to remove an element if unsure about its presence
print("Set after discarding 10 (not present):", my_set)

Set after discarding 10 (not present): {1, 2, 4, 5}

In [5]:
# Two example sets
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

In [6]:
# Union
union_set = set_a | set_b
print("Union:", union_set)

Union: {1, 2, 3, 4, 5, 6}

In [7]:
# Intersection
intersection_set = set_a & set_b
print("Intersection:", intersection_set)

Intersection: {3, 4}

In [8]:
# Difference
difference_set = set_a - set_b
print("Difference (set_a - set_b):", difference_set)

Difference (set_a - set_b): {1, 2}

In [9]:
# Symmetric Difference
sym_diff_set = set_a ^ set_b
print("Symmetric Difference:", sym_diff_set)

Symmetric Difference: {1, 2, 5, 6}

In [10]:
# Length of a set
print("Length of set_a:", len(set_a))

Length of set_a: 4

In [12]:
set_c = {1, 2}
set_d = {1, 2, 3, 4}

In [13]:
# Checking if set_c is a subset of set_d
print("set_c is a subset of set_d:", set_c.issubset(set_d))

set_c is a subset of set_d: True

In [14]:
# Checking if set_d is a superset of set_c
print("set_d is a superset of set_c:", set_d.issuperset(set_c))

set_d is a superset of set_c: True

In [16]:
# Copy a set
copied_set = set_a.copy()
print("Copied set:", copied_set)

Copied set: {1, 2, 3, 4}

In [17]:
# List with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]
# Convert to set to remove duplicates
unique_set = set(my_list)
print("Unique elements:", unique_set)

Unique elements: {1, 2, 3, 4, 5}

In [18]:
#Finding Common Elements Between Two Lists Using Sets
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

# Convert lists to sets and find common elements
common_elements = set(list1) & set(list2)
print("Common elements:", common_elements)

Common elements: {3, 4}